.contact-section {
  background: #f5f5f5;
  padding: 60px 20px;
  display: flex;
  justify-content: center;
}

.contact-container {
  background: white;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 100%;
}

.contact-container h2 {
  font-size: 28px;
  color: #06532b;
  margin-bottom: 10px;
  text-align: center;
}

.contact-container p {
  text-align: center;
  color: #555;
  margin-bottom: 30px;
}

.contact-form .form-group {
  position: relative;
  margin-bottom: 25px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 14px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
  font-size: 15px;
  background: transparent;
  transition: border-color 0.3s;
}

.contact-form textarea {
  resize: vertical;
}

.contact-form label {
  position: absolute;
  top: 14px;
  left: 12px;
  background: white;
  padding: 0 5px;
  color: #999;
  font-size: 14px;
  pointer-events: none;
  transition: 0.2s ease all;
}

.contact-form input:focus + label,
.contact-form input:not(:placeholder-shown) + label,
.contact-form textarea:focus + label,
.contact-form textarea:not(:placeholder-shown) + label {
  top: -10px;
  left: 10px;
  font-size: 12px;
  color: #06532b;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #06532b;
}

.btn-submit {
  background: #06532b;
  color: white;
  padding: 14px 25px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
}

.btn-submit:hover {
  background: #04351f;
}
header {
  background: linear-gradient(to right, #2e8b57, #006400);
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  flex-wrap: wrap;
}

.logo h2 {
  font-size: 22px;
  margin-bottom: 5px;
}

.logo p {
  font-size: 20px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: color 0.3s;
}

nav ul li a:hover,
nav ul li a.active  {
    background-color: gold;
    color:black;
    font-weight: 600;
}
